node_modules/
stitch_ai_github_readme_generator/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
backend/gitdocs/

# Flutter/Dart
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# IDE
.vscode/
.idea/
*.iml
